---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Players Club - History";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Visão</h1>
    <p>
      Ser referência no universo literário digital, unindo tecnologia, curadoria
      de qualidade e acessibilidade. Queremos que qualquer pessoa, de qualquer
      canto, consiga encontrar o livro certo na hora certa — seja para aprender,
      escapar, refletir ou apenas sonhar.
    </p>

    <h1>Missão</h1>
    <p>
      Iluminar mentes e corações por meio do acesso à leitura, oferecendo
      livros, experiências e serviços que incentivem o conhecimento, a
      imaginação e o crescimento pessoal e coletivo.
    </p>

    <h1>Valores</h1>
    <p>
      Amor pelos Livros: Valorizamos o poder transformador da leitura e
      celebramos a diversidade literária.
    </p>

    <p>
      Acolhimento e Respeito: - Criamos um ambiente inclusivo, onde todas as
      pessoas se sintam bem-vindas e respeitadas.
    </p>

    <p>
      Inspiração e Conhecimento: - Buscamos constantemente estimular a
      curiosidade, o pensamento crítico e a criatividade.
      </p>

    <p>
      Sustentabilidade e Consciência: - Atuamos com responsabilidade ambiental e
      social, contribuindo para um futuro melhor. 
    </p>

    <p>
      Comunidade e Cultura: -
    Acreditamos no poder do coletivo e promovemos encontros, debates e eventos
    que fortalecem os laços culturais.
    </p>


    </div>
</BaseLayout>
