---
import Separator from "../components/Separator.astro";
---

<Separator />
<footer>
  <p>
    Design criado por <a
      href="https://dribbble.com/shots/25156320-Players-Club-UI-Animation"
      >Leide Cardozo</a
    > <br> <a href="https://alextkachev.com/">Desenvolvido por</a>. Willian & Yuri <a
      href="https://astro.build/"> <br>Aprovado por</a
    > by <a href="https://www.codrops.com">Jordan</a>.
  </p>
  <p>
    GitHub <a href="https://github.com/WillianRD">Willian .S Rodrigues</a
    ></a>.
  </p>
</footer>
<style>
  footer {
    padding: 2rem 0;
  }
  p {
    margin: 0;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: var(--color-text-alt);
  }
</style>
