---
import Separator from "../components/Separator.astro";
---

<Separator />
<footer>
  <p>
    Design criado por <a href="https://github.com/leide-cardozo"
      >Leide Cardozo</a
    >
    <br />Desenvolvido por<a href="https://github.com/WillianRD"> Willian</a>
    <a href="https://github.com/YuriSouzaS">& Yuri</a>
    <br />
    Aprovado por <a href="https://www.codrops.com">Jordan</a>.
  </p>
  <p>
    GitHub <a href="https://github.com/WillianRD">Willian .S Rodrigues</a>
  </p>.
</footer>

<style>
  footer {
    padding: 2rem 0;
  }
  p {
    margin: 0;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: var(--color-text-alt);
  }
</style>
